/* ========================================================================
Slider
 ========================================================================== */
 .slider {
  position: relative;
  width: 100%;
  height: 600px !important;
  overflow: hidden;
}

  .sliderInnerSection {
    padding: 0 70px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    color: White;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* display: flex; */
    /* justify-content: center;
    align-content: center; */
  }

  .buttonWrap{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sliderButton {
    cursor: pointer;
  }
  
  .previousButton:hover,
  .nextButton:hover {
    background-color: #d4af35;
    border-radius: 30px;
    opacity: 0.7;
  }
  
  .sliderH1 {
    margin: 0 auto;
    max-width: 840px;
    font-size: 50px;
    transition: all 0.3s ease;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
  
  .slide.animateIn.previous Link,
  .slide.current Link,
  .slide.animateIn.next Link,
  .slide.animateIn.previous h1,
  .slide.current h1,
  .slide.animateIn.next h1,
  .slide.animateIn.previous button,
  .slide.current button,
  .slide.animateIn.next button,
  .slide.animateIn.previous h3,
  .slide.current h3,
  .slide.animateIn.next h3,
  .slide.animateIn.previous section *,
  .slide.current section *,
  .slide.animateIn.next section * {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
    opacity: 1;
  }
  
  .sliderH3 {
    font-weight: 700;
    line-height: 1.5;
    margin: 20px auto 30px;
    max-width: 640px;
    transition: all 0.3s ease;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-transform: uppercase;
  }

  .sliderH3:before {
    content: "";
    width: 100px;
    height: 5px;
    background: #9a8c67;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .sliderSection {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
  
  .sliderSpan {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    display: inline-block;
    text-align: left;
    line-height: 1.4;
    vertical-align: middle;
    margin-left: 10px;
    transition: all 0.3s ease;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
  }
  
  .slide::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(transparent),
      to(rgba(0, 0, 0, 0.9))
    );
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    bottom: 0;
    left: 0;
  }

  .photoDetails{
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #9a8c67;
  }

  #photoLink {
    color: #9a8c67;
  }
  #photoLink:hover {
    color: #fff;
  }

  /* ========================================================================
New options in Dev WIP
 ========================================================================== */
 .slider-fade3 .owl-stage-outer {
    height: 100%;
  }

  .slider-fade3 .owl-carousel .caption .overflow-hidden {
    display: inline-block;
    margin-top: 25rem;
  }

  .slider-fade3 .owl-item {
    height: 100vh;
    position: relative;
  }

  .slider-fade3 .item {
    position: absolute; 
    top: 0; 
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover !important;
    background-position: center center !important;
  }

  .slider-fade3 .item .caption {
    width: 100%;
    z-index: 9;
  }

  @media screen and (max-width: 767px) {
    .slider-fade3 .owl-carousel .caption .overflow-hidden {
      margin-top: 20rem;
    }
    .slider-fade3 .owl-carousel .caption h1 {
      font-size: 2.6rem;
    }
    .slider-fade3 .owl-carousel .caption h3 {
      font-size: 1rem;
    }
    .sliderH1 {
      font-size: 25px;
    }

    .sliderH3 {
      font-size: 8px;
      -webkit-box-orient: vertical;
      text-transform: uppercase;
    }

    .sliderH3:before {
      content: "";
      width: 10px;
      height: 5px;
    }

    .sliderSpan {
      font-size: 8px;
      margin-left: 10px;
    }

    .sliderButton {
     font-size: 7px;
     padding: 3px 6px;
    }
    .slider {
      /* position: relative; */
      /* width: 100%; */
      height: 300px !important;
      /* overflow: hidden; */
    }
    
  }