@charset "UTF-8";
/* ----------------------------------
 *
 * Table of contents
 *
 * 01. Common styles
 * 02. Navigation
 * 03. Navigation for one page
 * 04. Onepage sidebar
 * 05. Main banner area
 * 06. Page title
 * 07. Feature boxes
 * 08. Cards
 * 09. Timetable Calendar
 * 10. Counter box
 * 11. Video
 * 12. Testmonials
 * 13. Owl carousel
 * 14. Team member
 * 14. Portfolio
 * 14. Process
 * 14. Accordion style
 * 14. Tabs
 * 14. Pricing table
 * 14. Pages
 * 14. Shop
 * 14. Other
 * 14. Blog
 * 14. Contact info
 * 14. Footer
 * 14. Copy Elements
 *
 * ---------------------------------- */

/*==============================
 *    Whole Project Start
 *    ================================ */
.bg-white {
  background-color: #fff !important;
}

.bg-gold {
  background: #9a8c67;
}

.bg-lightGold{
  background: #f6e9c2;
}
.bg-dark{
  background-color: rgb(0, 0, 0, .9);
}

.text-gold {
  color: #9a8c67 !important;
}

/*==============================
 *    Whole Project End
 *    ================================ */

 /* #logo{
  max-width: 100%;
  height: auto;
  vertical-align: top;
 } */
/* loader */
#preloader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
  transition: 0.3s ease opacity;
  text-align: center;
  width: 100%;
  height: 100%;
}

#preloader:before,
#preloader:after {
  content: "";
  width: 80px;
  height: 80px;
  border: 3px solid #00bcd1;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation-name: LoaderCicle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#preloader:after {
  animation-delay: 1s;
}

@keyframes LoaderCicle {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  10% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  80% {
    width: 60px;
    height: 60px;
    opacity: 0.1;
  }
  100% {
    width: 70px;
    height: 70px;
    opacity: 0;
  }
}

.text-grey {
  color: #6f6f6e !important;
}

.text-grey-hover:hover {
  color: black !important;
}

.text-white-hover:hover {
  color: #fff !important;
}

.shadow-primary {
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.line-through {
  text-decoration: line-through;
}

.cursor-pointer {
  cursor: pointer;
}

.height-100vh {
  height: 100vh;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media screen and (max-width: 991px) {
  .mfp-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 479px) {
  .xs-width-145px {
    width: 145px;
    position: relative;
    top: 4px;
    margin-right: 0;
  }
}

/* button style butn is affecting send message section*/
.butn {
  background: #00bcd1;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 20px;
  padding: 16px 32px;
  border-radius: 3px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-transition: all linear 300ms;
  transition: all linear 300ms;
  border: none;
  text-align: center;
}
.butn:hover,
.butn:active {
  color: #fff;
  background: #1e2022;
}

a.butn:hover,
a.butn:active,
a.butn:focus {
  color: #fff;
  background: #1e2022;
}

.butn:focus {
  color: #fff;
}
.butn.gold {
  background: #9a8c67;
  color: #fff;
}
.butn.gold:hover {
  color: #fff;
  background: #1e2022;
}

.butn.transparent {
  background: none;
  border: 1px solid #dee2e6;
  color: white;
}
.butn.transparent:hover {
  background: #1e2022;
  border: 1px solid #1e2022;
  color: #fff;
}

a.butn.gold:hover,
a.butn.gold:active,
a.butn.gold:focus {
  color: #fff;
  background: #1e2022;
}

.butn.dark {
  color: #fff;
  background: #1e2022;
}
.butn.dark:hover,
.butn.dark:active,
.butn.dark:focus {
  color: #fff;
  background: #00bcd1;
}

.butn.gold-hover:hover,
.butn.gold-hover:active,
.butn.gold-hover:focus {
  color: #00bcd1;
  background: #fff;
}

.butn.small {
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 20px;
  padding: 8px 20px;
  white-space: nowrap;
}
.butn.md {
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 20px;
  padding: 12px 24px;
}

.butn.appointment {
  background: #f15b5a;
  color: #fff;
  padding: 12px 14px !important;
  font-size: 14px;
}

@media screen and (max-width: 991px) {
  .butn {
    padding: 14px 28px;
    font-size: 13px;
  }
  .butn.appointment {
    padding: 7px 5px 7px 5px !important;
    background: none;
    color: #f15b5a;
  }
  .butn.appointment:hover {
    color: #00bcd1;
    background: none;
  }
}
@media screen and (max-width: 767px) {
  .butn {
    padding: 12px 24px;
  }

  .xs-letter-spacing-2 {
    letter-spacing: 2px;
  }
}



/* topbar */
#top-bar {
  display: block;
  position: relative;
  z-index: 999;
  padding: 7px 0;
}

.header-icon {
  border: 1px solid #00bcd1;
  border-radius: 50%;
  min-height: 50px;
  min-width: 50px;
  line-height: 2;
  font-size: 24px;
  text-align: center;
  display: inline-block;
}
.header-icon i {
  vertical-align: sub;
}

.header-icon2 {
  border: none;
  background: rgba(0, 188, 209, 0.1);
  color: #00bcd1;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 22px;
  line-height: 50px;
}

.header-icon3 {
  border: 1px solid #fff;
  background: #fff;
  color: #00bcd1;
  border-radius: 50%;
  min-height: 50px;
  min-width: 50px;
  line-height: 2;
  font-size: 24px;
  text-align: center;
  display: inline-block;
}



@media screen and (max-width: 991px) {
  .navbar ul ul li.active > a {
    color: #00bcd1;
  }

  .navbar-nav li.active > a {
    opacity: 1;
    color: #00bcd1;
  }
}

/* header custom fill */
.header-custom-fill #top-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

/*==============================
*    Pricing table
*    ================================ */
/* price table1 */
.single-plan {
  position: relative;
  z-index: 99;
  border: 1px solid #efefef;
  background: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035),
    0 7px 18px rgba(0, 9, 128, 0.05);
  -moz-box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035),
    0 7px 18px rgba(0, 9, 128, 0.05);
  -ms-box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035),
    0 7px 18px rgba(0, 9, 128, 0.05);
  -o-box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035),
    0 7px 18px rgba(0, 9, 128, 0.05);
  box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035),
    0 7px 18px rgba(0, 9, 128, 0.05);
}
.single-plan .head-plan {
  background: #00bcd1;
}
.single-plan .head-plan h4 {
  padding: 20px;
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.body-plan .price-plan {
  padding: 32px 0 43px;
  position: relative;
  background: #f7f7f7;
  font-weight: bold;
  border-bottom: 1px solid #eaeaea;
}
.body-plan .price-plan h3 {
  margin: 0;
  z-index: 11;
  position: relative;
  font-weight: bold;
  color: #6f6f6f;
}
.body-plan .price-plan h3 sup {
  font-size: 18px;
  top: -15px;
  font-weight: bold;
  margin-right: 2px;
}
.body-plan .price-plan span {
  text-transform: uppercase;
  font-size: 12px;
  z-index: 11;
  position: relative;
}

.feat-plan {
  margin: 56px 0 33px;
}
.feat-plan ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.feat-plan ul li {
  margin-bottom: 15px;
  border-bottom: 1px solid #efefef;
  padding-bottom: 15px;
}
.feat-plan ul li:last-child {
  margin: 0;
}

.price-plan i {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 50%;
  position: absolute;
  bottom: -24px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 99;
  background: #00bcd1;
}

.footer-plan {
  padding: 0 0 30px;
}

/* price table2 */
.price .item {
  padding: 0 0 30px 0;
  background: #f9f9f9;
  border-radius: 5px;
  transition: all 0.3s;
}
.price .item:hover {
  box-shadow: 0px 5px 40px 0px rgba(148, 146, 245, 0.2);
}
.price .type {
  padding: 15px 0;
  background: #1e2022;
}
.price .type h4 {
  font-size: 25px;
  color: #fff;
  margin-bottom: 0;
}
.price .value {
  padding: 30px 0 15px 0;
  position: relative;
}
.price .value h3 {
  display: inline-block;
  padding-right: 10px;
  font-size: 50px;
  font-weight: 700;
  position: relative;
  margin-bottom: 0;
}
.price .value h3 span {
  font-size: 14px;
  position: absolute;
  top: 5px;
  right: 0;
}
.price .value .per {
  font-size: 13px;
  color: #00bcd1;
}
.price .features li {
  margin: 15px 0;
}
.price .order {
  padding-top: 15px;
  position: relative;
}
.price .active {
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
}
.price .active .type {
  background: #00bcd1;
}

@media screen and (max-width: 1199px) {
  .price .item {
    padding: 0 0 30px 0;
  }
  .price .type {
    padding: 12px 0;
  }
  .price .type h4 {
    font-size: 22px;
  }
  .price .value {
    padding: 25px 0 10px 0;
  }
  .price .value h3 {
    font-size: 36px;
  }
  .price .value h3 span {
    font-size: 13px;
  }
  .price .features li {
    margin: 12px 0;
  }
  .price .order {
    padding-top: 15px;
  }
}
@media screen and (max-width: 991px) {
  .price .item {
    padding: 0 0 25px 0;
  }
  .price .type {
    padding: 10px 0;
  }
  .price .type h4 {
    font-size: 20px;
  }
  .price .value {
    padding: 20px 0 10px 0;
  }
  .price .value h3 {
    font-size: 30px;
  }
  .price .value h3 span {
    font-size: 12px;
  }
  .price .features li {
    margin: 10px 0;
  }
  .price .order {
    padding-top: 12px;
  }
}