/* feature box-03*/
.feature-box-03 {
    margin-top: -100px;
  }

  .infoText{
    font-size: 1.4em !important;
  }
  
  @media screen and (max-width: 1399px) {
    .feature-box-03 {
      margin-top: -70px;
    }
  }
  @media screen and (max-width: 991px) {
    .feature-box-03 {
      margin-top: 0;
    }
  }
  @media screen and (max-width: 767px) {
    .feature-box-03 {
      margin-top: 0;
    }
    .feature-box-03 h4 {
      letter-spacing: 2px;
    }
  }